<?xml version="1.0"?>
<!--
/**
 *
 * @category   MageProfis
 * @package    MageProfis_OneCheckout
 * @copyright  Copyright (c) 2015 Ulrich Abelmann
 * @copyright  Copyright (c) 2015 MageProfis GmbH
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MageProfis_OneCheckout>
            <version>0.1.0</version>
        </MageProfis_OneCheckout>
    </modules>
    <global>
        <models>
            <onecheckout>
                <class>MageProfis_OneCheckout_Model</class>
            </onecheckout>
        </models>
        <blocks>
            <onecheckout>
                <class>MageProfis_OneCheckout_Block</class>
            </onecheckout>
        </blocks>
        <helpers>
            <onecheckout>
                <class>MageProfis_OneCheckout_Helper</class>
            </onecheckout>
            <checkout>
                <rewrite>
                    <url>MageProfis_OneCheckout_Helper_Checkout_Url</url>
                </rewrite>
            </checkout>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageProfis_OneCheckout>
                    <files>
                        <default>MageProfis_OneCheckout.csv</default>
                    </files>
                </MageProfis_OneCheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onecheckout>
                                            <title>Onestep Checkout</title>
                                        </onecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <onecheckout>
                <use>standard</use>
                <args>
                    <module>MageProfis_OneCheckout</module>
                    <frontName>onecheckout</frontName>
                </args>
            </onecheckout>
        </routers>
        <secure_url>
            <onecheckout>onecheckout</onecheckout>
        </secure_url>
        <translate>
            <modules>
                <MageProfis_OneCheckout>
                    <files>
                        <default>MageProfis_OneCheckout.csv</default>
                    </files>
                </MageProfis_OneCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <onecheckout>
                    <file>onecheckout.xml</file>
                </onecheckout>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <onecheckout>
                        <class>onecheckout/observer</class>
                        <method>redirect</method>
                    </onecheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_index_index>
                <observers>
                    <onecheckout_get_methods>
                        <class>onecheckout/observer</class>
                        <method>redirect</method>
                    </onecheckout_get_methods>
                </observers>
            </controller_action_predispatch_checkout_index_index>
            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <onepage_checkout_methods>
                        <class>onecheckout/observer</class>
                        <method>setCheckoutMethods</method>
                    </onepage_checkout_methods>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <onepage_set_addresses>
                        <class>onecheckout/observer</class>
                        <method>setAddresses</method>
                    </onepage_set_addresses>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <checkout_type_onepage_save_order>
                <observers>
                    <onecheckout>
                        <class>onecheckout/observer</class>
                        <method>addCommentToOrder</method>
                    </onecheckout>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </frontend>
    <default>
        <onecheckout>
            <general>
                <active>0</active>
                <showcarteditionbutton>0</showcarteditionbutton>
            </general>
            <refresh>
                <shipping_method>country,shipping_method,payment_method</shipping_method>
                <payment_method>country,shipping_method,payment_method</payment_method>
                <review>country,shipping_method,payment_method</review>
            </refresh>
            <agreements>
                <custom>1</custom>
                <keywords><![CDATA[AGB
AGBs
Allgemeine Geschäftsbedinungen
Allgemeinen Geschäftsbedingungen
Widerrufsbedinungen
Widerrufsbelehrung
Widerrufsrecht]]></keywords>
            </agreements>
            <attributes>
                <show>1</show>
                <exclude><![CDATA[weight
delivery_time]]></exclude>
            </attributes>
        </onecheckout>
    </default>
</config>
